$text-link-color: black;

$button-fab-color-alt: #8bc34a;
$button-fab-hover-color-alt: #8bc34a;
$button-fab-active-color-alt: #8bc34a;

$input-text-highlight-color: #03a9f4;
$selectfield-highlight-color: #03a9f4;
$switch-thumb-color: #03a9f4 !important;
$switch-track-color: rgba(3, 169, 244, .5) !important;
$button-fab-color-alt: #e88f0c;
$selectfield-bottom-border-color: #670ce8;
$input-text-label-color: rgba(0,0,0,.5);
$input-text-bottom-border-color: rgba(0,0,0,.5);

$selectfield-font-size: 16px !default;
$selectfield-padding: 4px !default;
$selectfield-vertical-spacing: 20px !default;

$radio-color: #8bc34a;
$radio-label-font-size: 14px;

$progress-main-color: #4CAF50;

// $range-color: rgba(0, 0, 0, .87);
$range-color: #5d5d5d;