.mdl-layout-flex {
	display: flex !important;
	> select {
		margin-left: 10px;
	}
}

.mdl-layout-relative {
	position: relative;
}

.fs-search.mdl-layout-container {
	width: 300px;
	padding-bottom: 15px;
}

.mdl-layout-equal-width {
	display: inline-block;
	width: 200px;
}

.layout-bg--fs-search {
	position: fixed;
	z-index: 999999999;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .6);
}

.layout-bg--animation {
	transition: opacity .2s ease-in-out;
}

.is-hidden--fs-search {
	visibility: hidden;
	opacity: 0
}

*[data-lang] {
	min-width: 83px;
}

.mdl-layout-center {
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
}

.mdl-layout-collapse {
	border: 1px solid transparent;
}

iframe {
	height: auto;
	padding-top: 15px;
	padding-bottom: 10px;
}